.git
.github
.venv
venv
env
__pycache__
*.py[cod]
*.egg-info
.eggs
build
dist
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
htmlcov

docs
tests

data
config
user-plugins
*.db
*.db-wal
*.db-shm

.vscode
.idea
*.swp
.DS_Store
Thumbs.db
